/* reset do css soft */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(''); */
  /*background-color: #4999ff;*/
  background-color: black;
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media(min-width: 400px) {
  body {
    font-size: 1.2em;
  }
}

@media(min-width: 600px) {
  body {
    font-size: 1.5em;
    background-color: black;
  }
}

@media(min-width: 1200px) {
  body {
    font-size: 2em;
    background-color: black;
  }
}

header {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.portfolio {
  color: whitesmoke;
  margin-bottom: 1.5em;
  padding: 1em;
  height: 100vh;
}

.portfolio .grid {
  display: grid;
  gap: 2.5em;
  justify-content: center;
}

@media(min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 240px);
  }
}

@media(min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    height: calc(100vh - 4em - 48px - 1.5em);
  }
}

.portfolio figure {
  text-align: center;
}

.portfolio h2 {
  padding: 1.5em;
  text-align: center;
}

.menu {
  background-color: #fff;
  width: 100vw;
  position: fixed;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;  
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  background-color: aquamarine;
  border: 2px solid cyan;
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 2.5em;
  text-transform: uppercase;
}

.site-subtitle {
  font-style: italic;
  line-height: 1.5em;
}

.img-portfolio {
  object-fit: cover;
  object-position: left bottom;
  height: 180px;
  width: 240px;
}